@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{

    font-family: 'Roboto', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline:none; border:none;
    text-transform:capitalize;
    text-decoration: none;
    transition:.2s linear;


}

body{

    background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(../../images/blogimage1.jpg);
    height:  100vh;
    background-size: cover;
    background-position: center;
}



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/*the html and body is styled in grid section, height and width of the document*/
html,body{
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center; /*property to settle the */

}
::selection{
  background: #fa4299;
  color: #fff;
}
.wrapper{
  overflow: hidden;
  max-width: 390px;
  background: #fff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
}
.wrapper .title-text{
  display: flex;
  width: 200%;
}
.wrapper .title{
  width: 50%;
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}
.wrapper .slide-controls{
  position: relative;
  display: flex;
  height: 50px;
  width: 100%;
  overflow: hidden;
  margin: 30px 0 10px 0;
  justify-content: space-between;
  border: 1px solid lightgrey;
  border-radius: 5px;
}
.slide-controls .slide{
  height: 100%;
  width: 100%;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  line-height: 48px;
  cursor: pointer;
  z-index: 1;
  transition: all 0.6s ease;
}
.slide-controls label.signup{
  color: #000;
}
.slide-controls .slider-tab{
  position: absolute;
  height: 100%;
  width: 50%;
  left: 0;
  z-index: 0;
  border-radius: 5px;
  background: -webkit-linear-gradient(left, #a445b2, #fa4299);
  transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}
input[type="radio"]{
  display: none;
}
#signup:checked ~ .slider-tab{
  left: 50%;
}
#signup:checked ~ label.signup{
  color: #fff;
  cursor: default;
  user-select: none;
}
#signup:checked ~ label.login{
  color: #000;
}
#login:checked ~ label.signup{
  color: #000;
}
#login:checked ~ label.login{
  cursor: default;
  user-select: none;
}
.wrapper .form-container{
  width: 100%;
  overflow: hidden;
}
.form-container .form-inner{
  display: flex;
  width: 200%;
}
.form-container .form-inner form{
  width: 50%;
  transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}
.form-inner form .field{
  height: 50px;
  width: 100%;
  margin-top: 20px;
}
.form-inner form .field input{
  height: 100%;
  width: 100%;
  outline: none;
  padding-left: 15px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  border-bottom-width: 2px;
  font-size: 17px;
  transition: all 0.3s ease;
}
.form-inner form .field input:focus{
  border-color: #fc83bb;
  /* box-shadow: inset 0 0 3px #fb6aae; */
}
.form-inner form .field input::placeholder{
  color: #999;
  transition: all 0.3s ease;
}
form .field input:focus::placeholder{
  color: #b3b3b3;
}
.form-inner form .pass-link{
  margin-top: 5px;
}
.form-inner form .signup-link{
  text-align: center;
  margin-top: 30px;
}
.form-inner form .pass-link a,
.form-inner form .signup-link a{
  color: #fa4299;
  text-decoration: none;
}
.form-inner form .pass-link a:hover,
.form-inner form .signup-link a:hover{
  text-decoration: underline;
}
form .btn{
  height: 50px;
  width: 100%;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}


form .btn .btn-layer{
  height: 100%;
  width: 300%;
  position: absolute;
  left: -100%;
  background: -webkit-linear-gradient(right, #a445b2, #fa4299, #a445b2, #fa4299);
  border-radius: 5px;
  transition: all 0.4s ease;;
}
form .btn:hover .btn-layer{
  left: 0;
}


form .btn input[type="submit"]{
  height: 100%;
  width: 100%;
  z-index: 1;
  position: relative;
  background: none;
  border: none;
  color: #fff;
  padding-left: 0;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

/*
.login-page{

    width: 360px;
    padding: 10% 0 0;
    margin: auto;

}

.form{

    padding:  40px 30px;
    background:  #fefefe;
    display:  flex;
    flex-direction:  column;
    align-items:  flex-start;
    padding-bottom:  20px;
    width:  30rem;

    border-radius: 10px;
}

.form input{

    font-family: "Roboto", sans-serif;
    outline: 1;
    background: #f2f2f2;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    width: 100%;
    font-size: 1rem;
    border-radius: 10px;

}

.form button{

    display: inline-block;
    -webkit-appearance:  none;
    width:  auto;
    min-width:  100px;
    border-radius:  24px;
    text-align:  center;
    padding:  15px 40px;
    margin-top:  5px;
    background-color:  #FFA17F;  /* fallback for old browsers */
    /*
    background-color:  -webkit-linear-gradient(to right, #00223E, #FFA17F);  /* Chrome 10-25, Safari 5.1-6 */
    /*background-color:  linear-gradient(to right, #00223E, #FFA17F);
    color:  #fff;
    font-size:  14px;
    margin-left:  auto;
    font-weight:  500;
    box-shadow:  0px 2px 6px -1px rgba(0,0,0,.13);
    border:  none;
    transition:  all .3s ease;
    outline: 0;


}

.form button:hover, .form:active{

    transform: translateY(-5px);

}

.form .message{
    text-align: center;
    margin: 80px 0 0;
    padding: 5%;
    color: rgb(44, 112, 172);
    text-decoration: none;

}

.form .register{

  display: none;
}*/

.text-danger{
    color: red;
}
.text-success{
    color: green;
}
.text-warning{
    color: yellow;
}
.text-warning{
    color: yellow;
}
