@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/*root has all the border and background properties stored in various
variables that can be altered and we do not have to change the rest of 
the settings throughout the code*/
:root{

    --main-color: #8f8477;
    --black: rgb(12, 11, 11);
    --bg: #ffe259;  /* fallback for old browsers */
    --bg: -webkit-linear-gradient(to right, #ffa751, #ffe259);  /* Chrome 10-25, Safari 5.1-6 */
    --bg: linear-gradient(to right, #ffa751, #ffe259); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    --btnbg: #FFA17F;  /* fallback for old browsers */
    --btnbg: -webkit-linear-gradient(to right, #00223E, #FFA17F);  /* Chrome 10-25, Safari 5.1-6 */
    --btnbg: linear-gradient(to right, #00223E, #FFA17F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    

    --border:.1rem solid rgba(255, 255, 255, .3);

    --peru:#cd9452;
    --black:#222;
    --white:#fff;
    --light-black:#666;
    --light-white:#ccc;
    --light-bg:#f5f5f5;
    --dark-bg:rgba(0,0,0,.7);
    
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);


}

*{

    font-family: 'Roboto', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline:none; border:none;
    text-transform:capitalize;
    text-decoration: none;
    transition:.2s linear;


}

* >img{

    user-select: none;
    pointer-events: none;
}

html{

    font-size: 82.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
    scrollbar-color: var(--black);
}

::-webkit-scrollbar{

    width: .95rem;
}

::-webkit-scrollbar-track{

    background: transparent;
}

::-webkit-scrollbar-thumb{

    background: rgb(82, 71, 71);
    border-radius: 5rem;
}

body{

    background: var(--light-bg);
}

section{

    padding: 17rem 6%;
    
}

.heading{

    text-align: center;
    color: #fff;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
    
}

.heading span{

    color: var(--main-color);
    text-transform: uppercase;
}

#headerID{
    background: var(--peru);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 4%;
    border-bottom: var(--border);
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
    transition: 0.4s;
    

}

.header .logo img{

    height: 9rem;
    
}

.header .navbar a{

    margin: 0 1rem;
    font-size: 1.9rem;
    color: #fff;
}

.header .navbar a:hover{

    color: var(--main-color);
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .5rem;
}

.header .icons div{

    color: #fff;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left:2rem;

}


.header .icons div:hover{

    color: var(--main-color);
    
}

#menu-btn{

    display:none;
}


.header .search-form{

    position:absolute;
    top: 115%; right: 2%;
    background: #fff;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform:scaleY(0);
    transform-origin:top;
    
}

.header .search-form.active{

    transform:scaleY(1);
}

.header .search-form input{

    height:100%;
    width:100%;
    font-size:1.6rem;
    color:var(--black);
    padding:1rem;
    text-transform:none;


}

.header .search-form label{

    cursor:pointer;
    font-size: 2.2rem;
    margin-right:1.5rem;
    color:var(--black);
}

.header .search-form label:hover{

    color:var(--main-color);
}

.header .cart-items-container{

    position: absolute;
    top:100%; right: -100%;
    height: calc(100vh- 9.5rem);
    width:35rem;
    background:rgb(245, 241, 241);
    padding: 0 1.5rem; 
}

.header .cart-items-container.active{

    right:0;
    scroll-behavior: smooth;
}

.header .cart-items-container .cart-item{

    position: relative;
    margin: 2rem 0;
    display: flex;
    align-items: center;
    gap: 1.5rem;

}

.header .cart-items-container .cart-item .fa-times{

    position: absolute;
    top: 1rem; right: 1rem; 
    font-size: 2rem;
    cursor: pointer;
    color: var(--black);

}

.header .cart-items-container .cart-item .fa-times:hover{

    color:var(--main-color);
}

.header .cart-items-container .cart-item img{
    height: 7rem;
}

.header .cart-items-container .cart-item .content h3{

    font-size: 2rem;
    color:var(--black);
    padding-bottom: 5rem;
} 

.header .cart-items-container .cart-item .content .price{

    font-size: 2rem;
    color: var(--bg);
    padding-bottom: .5rem;
}

.header .cart-items-container .btn{

    width: 100%;
    text-align: center;
}


.about .row .image{
    flex:1 1 45rem;
}

.about .row .image img{
    width: 100%;
}
.about .row .content{
    flex:1 1 45rem;
    padding:2rem;
    padding-top: 20rem;
}

.about .row .content h3{
    font-size: 3rem;
    color:#fff;
}

.about .row .content p{
    font-size: 1.6rem;
    color:var(--main-color);
    padding:1rem 0;
    line-height: 1.8;
}

.about .row .content h3{

    text-align: center;
}



@keyframes fadeIn {
    0%{
       transform: translateY(-4rem) scale(0);
       opacity: 0;
    }
}
 
.home{

    /* ---- Base Rules ---- 
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-size: cover;
    background-position: center;*/
    padding: 0;
    background: black;
}

.home .slide{

    min-height: 100vh;
    background-size: cover !important;
    background-position: center !important;
    position: relative;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: left;
    padding:10rem;
    

}

.home .slide::before{

    content: '';
    position: absolute;
    top: 0; left: 0;
    height: 100%;
    width: 100%;
    background: var(--dark-bg);
    z-index: -1;
}



.home .slide .content{
    text-align: left;
    width: 70rem;
    display: none;
}


/*
.home .content h3{
    font-size: 6rem;
    text-transform: uppercase;
    color:rgb(44, 36, 36);
}*/

.home .slide .content span{

    font-size: 3rem;
    display: block;
    padding-bottom: .5rem;
    color: var(--light-white);
    animation:fadeIn 0.4s cubic-bezier(.54,1.3,.63,1.34) .2s backwards;
}

.home .slide .content h3{

    font-size: 5vw;
    text-transform: uppercase;
    color: var(--main-color);
    text-shadow: 0 .5rem 1rem rgba(0,0,0,.7);
    line-height: 1;
    padding: 2rem 0;
    animation:fadeIn 0.4s cubic-bezier(.54,1.3,.63,1.34) .4s backwards;
}

.home .slide .content .btn{

    animation:fadeIn 0.4s cubic-bezier(.54,1.3,.63,1.34) .6s backwards;
}

.home .swiper-slide-active .content{

    display: inline-block;
}

.swiper-button-next,
.swiper-button-prev{

    height: 3rem;
    width: 3rem;
    line-height: 5rem;
    background: #fff;
    color: var(--black);

}

.swiper-button-next:hover,
.swiper-button-prev:hover{
   background: var(--peru);
   color:var(--white);
}

.swiper-button-next::after,
.swiper-button-prev::after{
   font-size: 2rem;
}

/*
.home .content p{
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.8;
    padding:1rem 0;
    color:hsl(60, 7%, 5%);
}*/

.blogs .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
}

.blogs .box-container .box{
    border:var(--border);    
}

.blogs .box-container .box .image{
    height: 25rem;
    overflow:hidden;
    width: 100%;
}

.blogs .box-container .box .image img{
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.blogs .box-container .box:hover .image img{
    transform: scale(1.2);
}

.blogs .box-container .box .content{
    padding:2rem;
}

.blogs .box-container .box .content .title{
    font-size: 2.5rem;
    line-height: 1.5;
    color:#fff;
}

.blogs .box-container .box .content .title:hover{
    color:var(--main-color);
}

.blogs .box-container .box .content span{
    color:var(--main-color);
    display: block;
    padding-top: 1rem;
    font-size: 2rem;
}

.blogs .box-container .box .content p{
    font-size: 1.6rem;
    line-height: 1.8;
    color:#ccc;
    padding:1rem 0;
}


.footer{
   background: url(../images/footer-bg.jpg) no-repeat;
   background-size: cover;
   background-position: center;
   padding: 5rem;
}

.footer .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
   gap: 3rem;
}

.footer .box-container .box h3{
   color:var(--white);
   font-size: 2.5rem;
   padding-bottom: 2rem;
}

.footer .box-container .box a{
   color:var(--white);
   font-size: 1.5rem;
   padding-bottom: 1.5rem;
   display: block;
}

.footer .box-container .box a i{
   color:var(--white);
   padding-right: .5rem;
   transition: .2s linear;
}

.footer .box-container .box a:hover i{
   padding-right: 2rem;
}

.footer .credit{
   text-align: center;
   padding-top: 3rem;
   margin-top: 3rem;
   border-top: .1rem solid var(--light-white);
   font-size: 2rem;
   color:var(--white);
}

.footer .credit span{
   color:var(--black);
}

.footer{
   background: url(../images/footer-bg.jpg) no-repeat;
   background-size: cover;
   background-position: center;
}

.footer .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
   gap: 3rem;
}

.footer .box-container .box h3{
   color:var(--white);
   font-size: 2.5rem;
   padding-bottom: 2rem;
}

.footer .box-container .box a{
   color:var(--white);
   font-size: 1.5rem;
   padding-bottom: 1.5rem;
   display: block;
}

.footer .box-container .box a i{
   color:var(--white);
   padding-right: .5rem;
   transition: .2s linear;
}

.footer .box-container .box a:hover i{
   padding-right: 2rem;
}

.footer .credit{
   text-align: center;
   padding-top: 3rem;
   margin-top: 3rem;
   border-top: .1rem solid var(--light-white);
   font-size: 2rem;
   color:var(--white);
}

.footer .credit span{
   color:var(--black);
}



/*media queries*/

@media (max-width:1200px){

    section{
       padding:3rem 5%;
    }

    .about .heading{

        padding-top: 15rem;
    }
 
 
}

@media(max-width:991px){

    html{

        font-size: 65%;

    }

    #headerID{

        padding: 1.5rem 2rem;
    }

    .home .slide .content h3{

        font-size: 15vw;
    }
}


@media(max-width:770px)

{
    #menu-btn{

        display: inline-block;
    }

    .header .navbar{

        position:absolute;
        top: 100%; right: -100%;
        background: #FFEFBA;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #FFFFFF, #FFEFBA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        width: 30rem;
        height: calc(100vh - 9.5rem);
    }

    .header .navbar.active{
        right:0; 

    }

    .header .navbar a{
        
        color: var(--black);
        display: block;
        margin: 1.5rem;
        padding: .5rem;
        font-size: 2rem;
    }

    .header .search-form{
        width: 90%;
        right: 2rem;
    }

    .home{

        background-position: left;
        justify-content: center;
        text-align: center;
    }

    .home .content h3{

        font-size: 4.5rem;    
    }

    .home .content p{

        font-size: 1.5rem;

    }

    .swiper-button-next,
    .swiper-button-prev{

        top: initial;
        bottom: 1rem;
    }
    

}

@media(max-width:450px){

    html{

        font-size: 55%;

    }

    .home .slide .content h3{

        font-size: 7rem;
    }

}

        
.shop{
    font-size:1rem;
}

.space{
    letter-spacing: 0.8px !important;
}

.second a:hover {
    color: rgb(92, 92, 92) ;
}

.active-2 {
    color: rgb(92, 92, 92) 
}


.breadcrumb>li+li:before {
    content: "" !important
}

.breadcrumb {
    padding: 0px;
    font-size: 0.8rem;
    color: #aaa !important;
}

.first {
    background-color: white ;
}

a {
    text-decoration: none !important;
    color: #aaa ;
}

.btn-lg,.form-control-sm:focus,
.form-control-sm:active,
a:focus,a:active {
    outline: none !important;
    box-shadow: none !important
}

.form-control-sm:focus{
    border:1.5px solid #4bb8a9 ; 
}

.btn-group-lg>.btn, .btn-lg {
    padding: .5rem 0.1rem;
    font-size: 1rem;
    border-radius: 0;
    color: white !important;
    background-color: #4bb8a9;
    height: 2.8rem !important;
    border-radius: 0.2rem !important;
}

.btn-group-lg>.btn:hover, .btn-lg:hover {
    background-color: #26A69A;
}

.btn-outline-primary{
    background-color: #fff !important;
    color:#4bb8a9 !important;
    border-radius: 0.2rem !important;   
    border:1px solid #4bb8a9;
}

.btn-outline-primary:hover{
    background-color:#4bb8a9  !important;
    color:#fff !important;
    border:1px solid #4bb8a9;
}

.card-2{
    margin-top: 40px !important;
}

.card-header{
    background-color: #fff;
    border-bottom:0px solid #aaaa !important;
}

p{
    font-size: 1.6rem;
}
        
.small{
    font-size:1.2rem !important;
}

.form-control-sm {
    height: calc(2.2em + .5rem + 2px);
    font-size: 2.875rem;
    line-height: 1.5;
    border-radius: 0;   
}

.cursor-pointer{
    cursor: pointer;
}

.boxed {
    padding: 0px 8px 0 8px ;
    background-color: #4bb8a9;
    color: white;
}

.boxed-1{
    padding: 0px 8px 0 8px ;
    color: black !important;
    border: 1px solid #aaaa;
}

.bell{
    opacity: 0.5;
    cursor: pointer;
}

@media (max-width: 767px) {
    .breadcrumb-item+.breadcrumb-item {
        padding-left: 0
    }
}

.card {
    box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: 1rem;
    font-size: 1.2rem;
}
.text-reset {
    --bs-text-opacity: 1;
    color: inherit!important;
}
a{
    color: #5465ff;
    text-decoration: none;
}